body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-style: italic;
  background: linear-gradient(
    90deg,
    hsla(212, 13%, 41%, 1) 0%,
    hsla(3, 100%, 73%, 1) 100%
  );
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

h1 {
  color: white;
  margin-left: 10px;
}

h4 {
  color: wheat;
  font-weight: bold;
}

.logo {
  width: 5%;
}

table {
  width: 100%;
  border-collapse: separate;
  border: none;
  color: whitesmoke;
}

th {
  border: solid #57749f;
  background-color: #57749f;
  font-weight: bold;
}

td {
  border: solid #5b6d57;
}

th,
td {
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
}

h1:hover {
  color: red;
}

.logo:hover {
  background-color: red;
}

h4:hover {
  color: red;
}
th:hover {
  background-color: brown;
}
td:hover {
  background-color: rgb(197, 197, 148);
  color: black;
}
